* {
  padding: 0;
  margin: 0;
}

header, footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
  background-color: bisque;
  height: 100%;
}

.rounded {
  width: 100px;
  height: 150px -50;
}

h1 {
  font-family: cursive;
  transition: all 2s;
}
h1:hover {
  font-size: 55px;
  color: #6f4f4a;
}

.btn-secondary {
  background-color: #d3a199;
  border-color: #d3a199;
  margin: 10px;
}
.btn-secondary:hover {
  background-color: #be928b;
}

.show > .btn-secondary.dropdown-toggle {
  background-color: #be928b;
}

.carrusel-box {
  display: flex;
  justify-content: center;
  height: 600px;
  background-color: #FFEFED;
}

#carouselExampleControls {
  margin: 10px;
  opacity: 75%;
  display: flex;
  justify-content: center;
  width: 500px;
  height: auto;
}

hr {
  margin-top: 0;
  margin-bottom: 2px;
  color: #A09290;
  height: 0px;
  border: none;
  border-top: 2px solid #A09290;
}

h2 {
  font-family: "Shadows Into Light Two";
  font-size: 40px;
  font-style: italic;
  padding-left: 5px;
}

.titulo {
  background-color: #FFEFED;
  margin-bottom: 0;
}

.section-3 {
  background-color: #FFF5F4;
  margin: 0;
}

.parrafo-inicio {
  padding-top: 0;
  font-family: "poppins";
  font-size: large;
  margin: 5px;
}

.parrafodescriptivo {
  font-family: "poppins";
  font-size: large;
  margin: 0 5px 0 5px;
}

h3 {
  margin: 5px;
}

.imgbox {
  display: flex;
  justify-content: space-between;
  bottom: 150px -100;
  padding: 10px;
}

.imginicio {
  width: 330px;
  height: 330px;
  transition: all 1s;
}
.imginicio:hover {
  border: 10px solid #d3a199;
}

.cajaimagenes {
  text-align: center;
  background-color: #FFEFED;
}

.imgproducto {
  width: 300px;
  height: 300px;
  margin-top: 10px;
  margin-right: 25px;
  margin-bottom: 10px;
  margin-left: 10px;
  transition: all 1s;
}
.imgproducto:hover {
  border: 10px solid #d3a199;
}

.parrafo-footer {
  color: #A09290;
}

.btn-primary {
  background-color: #d3a199;
  border-color: #d3a199;
  margin: 10px;
}
.btn-primary:hover {
  background-color: #be928b;
  border-color: #be928b;
}

.footercontacto {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
}

.parrafo_footer_contacto {
  color: #A09290;
  margin-right: 35%;
}

.section_contacto {
  margin: 10px;
}

i {
  margin: 5px 5px 10px 10px;
}

@media (min-width: 350px) and (max-width: 500px) {
  .rounded {
    width: 50px;
    height: 150px -100;
  }
  h1 {
    font-size: medium;
  }
  h1:hover {
    font-size: 30px;
  }
  .carrusel-box {
    height: 300px;
    width: auto;
  }
  #imgcarrusel {
    max-width: 500px;
    max-height: 300px;
  }
  h2 {
    font-size: 30px;
    margin-left: 5px;
  }
  .parrafo-inicio {
    margin: 0 5px 0 5px;
  }
  .subtituloinicio {
    font-size: 25px;
    margin-left: 5px;
  }
  .imginicio {
    max-width: 200px -50;
    max-height: 150px;
    padding: 2px;
  }
  .imgbox {
    display: inline-block;
    margin-left: 7%;
  }
  .parrafo-footer {
    font-size: 15px;
    margin: 3px;
    padding: 3px;
    color: #A09290;
  }
  .imgproducto {
    width: 200px -50;
    height: 200px;
  }
  .parrafo_footer_contacto {
    margin: 0;
  }
}

/*# sourceMappingURL=style.css.map */
